In [1]:
%load_ext autoreload
%autoreload 2

In [44]:
from pathlib import Path
from instagram import get_stories_paths, get_posts_paths

In [45]:
path_to_data = Path("../data/Instagram volunteer2 JSON/")

In [46]:
stories_df = get_stories_paths(path_to_data)
posts_df = get_posts_paths(path_to_data)

In [48]:
stories_df

                                                 fpath date_str     timestamp
0    ../data/Instagram volunteer2 JSON/media/storie...   201907  1.561954e+09
1    ../data/Instagram volunteer2 JSON/media/storie...   201907  1.561954e+09
2    ../data/Instagram volunteer2 JSON/media/storie...   201907  1.561954e+09
3    ../data/Instagram volunteer2 JSON/media/storie...   201907  1.561954e+09
4    ../data/Instagram volunteer2 JSON/media/storie...   201907  1.561954e+09
..                                                 ...      ...           ...
356  ../data/Instagram volunteer2 JSON/media/storie...   202102  1.612156e+09
357  ../data/Instagram volunteer2 JSON/media/storie...   202102  1.612156e+09
358  ../data/Instagram volunteer2 JSON/media/storie...   202102  1.612156e+09
359  ../data/Instagram volunteer2 JSON/media/storie...   202102  1.612156e+09
360  ../data/Instagram volunteer2 JSON/media/storie...   202102  1.612156e+09

[361 rows x 3 columns]

In [49]:
posts_df

                                                 fpath date_str     timestamp
0    ../data/Instagram volunteer2 JSON/media/posts/...   201708  1.501560e+09
1    ../data/Instagram volunteer2 JSON/media/posts/...   201708  1.501560e+09
2    ../data/Instagram volunteer2 JSON/media/posts/...   201502  1.422767e+09
3    ../data/Instagram volunteer2 JSON/media/posts/...   201502  1.422767e+09
4    ../data/Instagram volunteer2 JSON/media/posts/...   201706  1.496290e+09
..                                                 ...      ...           ...
235  ../data/Instagram volunteer2 JSON/media/posts/...   202102  1.612156e+09
236  ../data/Instagram volunteer2 JSON/media/posts/...   202102  1.612156e+09
237  ../data/Instagram volunteer2 JSON/media/posts/...   202102  1.612156e+09
238  ../data/Instagram volunteer2 JSON/media/posts/...   202102  1.612156e+09
239  ../data/Instagram volunteer2 JSON/media/posts/...   202102  1.612156e+09

[240 rows x 3 columns]